.login-popup{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    /* background-color: #00000090; */
    display: grid;  
}
.login-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: azure;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 10px;
    font-size: 14px;
    animation: FadeIn 0.5s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-title img{
    width: 16px;
    cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    bottom: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.login-popup-container button{
    bottom: none;
    padding: 10px;
    border-radius: 4px;
    color: whitesmoke;
    background-color: #1dbf73;
    font-size: 15px;
    cursor: pointer;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.login-popup p span{
    color: #1dbf73;
    font-weight: 500;
    cursor: pointer;
}