.trustedBy {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;

  .fixedText {
    margin-bottom: 10px;
    text-align: center;
    color: #c2c2c2;
    font-weight: 400;
    white-space: nowrap;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }

  .scrollingContainer {
    overflow: hidden;
    width: 60%; /* Adjusted width */
    display: flex;
    user-select: none;
    justify-content: center;
    align-items: center;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%); /* Safari support */
  }

  .scrollingImages {
    display: flex;
    align-items: center;
    animation: marquee 30s linear infinite;

    img {
      height: 50px;
      object-fit: contain;
      margin-right: 20px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}