.messages {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
  box-sizing: border-box; /* Include padding in width calculation */

  .container {
    width: 100%; /* Ensure container width is 100% of its parent */
    max-width: 1400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box; /* Include padding in width calculation */

    /* Ensure the table doesn't overflow */
    overflow-x: auto;

    .title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      button {
        background-color: #1dbf73;
        color: white;
        font-weight: 500;
        border: none;
        padding: 12px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #17a15e;
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        font-weight: 500;
        color: #333;
        padding-top: 20px;
        padding-bottom: 10px;
      }

      td {
        &:first-child {
          font-weight: 500;
          color: #333;
        }

        &:nth-child(2),
        &:nth-child(3) {
          color: gray;
        }
      }

      button {
        background-color: #1dbf73;
        color: white;
        padding: 8px 12px; /* Smaller padding for smaller button */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #17a15e;
        }
      }

      tr {
        transition: background-color 0.3s;

        &:nth-child(even) {
          background-color: #f9f9f9; /* Light grey for even rows */
        }

        &:hover {
          background-color: #f1f1f1; /* Light grey for hover effect */
        }
      }
    }

    .mark-as-read-button {
      background-color: #1dbf73;
      color: white;
      font-weight: 500;
      border: none;
      padding: 6px 10px; /* Smaller padding for the button */
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px; /* Smaller font size for better fit */
      transition: background-color 0.3s;

      &:hover {
        background-color: #17a15e;
      }
    }
  }
}
