* {
  .link {
    text-decoration: none;
    color: inherit;
  }
  scroll-behavior: smooth !important;
}
@mixin mobile{
  @media(max-width: 738px){
    @content;
  }
}
@mixin tablet{
  @media(max-width:1024px){
    @content;
  }
}